@import '../../../styles/';

.the-idea {
    .the-idea-div {
        display: flex;
        justify-content: flex-end;
        gap: 40px;

        img {
            min-width: 500px;
            max-height: 494px;
        }

        .the-idea-div-text {
            padding-top: 244px;
            max-width: 350px;

            h2 {
                @include aussHead;
                margin-bottom: 27px;
                word-break: break-word;
            }

            p {
                @include aussPera;
            }
        }
    }
}