@import '../../../styles/';

.approach {
    margin-top: -160px;

    .approach-div {
        display: flex;
        justify-content: flex-end;
        gap: 53px;

        .approach-div1 {
            max-width: 618px;

            .approach-div1-head {
                display: flex;
                gap: 41px;
                margin-bottom: 39px;

                h2 {
                    @include aussHead;
                    min-width: 220px;
                    word-break: break-word;
                }

                img {
                    width: 100%;
                    max-width: 357px;
                    max-height: 511px;
                    object-fit: cover;
                }
            }

            p {
                @include aussPera;
            }
        }

        .approach-div2 {
            padding: 220px 17px 0 0;

            img {
                width: 100%;
                min-width: 509px;
                max-height: 284px;
                object-fit: cover;
            }
        }
    }
}