@import '../../styles/';

.advanced-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex;
    flex-direction: column;
    background-color: var(--color-black);
    z-index: 1000;
    color: var(--bgcolor);
  }
  
  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top: 8px solid var(--reload-color1);
    border-right: 8px solid var(--reload-color2);
    border-bottom: 8px solid var(--reload-color3);
    border-left: 8px solid var(--reload-color4);
    animation: rotateCircle 1.5s linear infinite;
  }
  
  .loading-text {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    animation: blinkText 1.5s ease-in-out infinite;
  }
  