@import "../../../styles/";

.equal-main {
    margin: 100px 0 87px 15px;

    .equal {
        display: flex;
        gap: 30px;

        img {
            min-width: 446px;
            max-height: 632px;
        }

        .equal-text {
            max-width: 650px;

            p {
                margin-bottom: 30px;
                @include aussPera;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
