@import "../../../styles/";

.auktion {
    .auktion-div {
        h2 {
            @include font38b;
            text-align: center;
            font-family: var(--font-family-inline);

            @media (max-width: 1024px) {
                font-size: 25px;
                line-height: 50px;
            }
        }
    }

    .auktion-timer {
        @include flex-center;
        gap: 15.5px;
        position: relative;

        @media (max-width: 1024px) {
            gap: 9px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 37%;
            width: 100%;
            max-width: 610px;
            border: 1.5px solid var(--font-color);

            @media (max-width: 1024px) {
                width: 350px;
            }
        }

        .auktion-timer-div {
            position: relative;
            z-index: 2;

            .auktion-timer-text {
                min-width: 93px;
                min-height: 152px;
                @include flex-center;
                background-color: var(--font-color);
                border-radius: 10.7px;
                margin-bottom: 17.02px;

                @media (max-width: 1024px) {
                    min-width: 53px;
                    min-height: 87px;
                    margin-bottom: 10px;
                }

                h3 {
                    @include font47b;
                    color: var(--bgcolor);

                    @media (max-width: 1024px) {
                        font-size: 27px;
                        line-height: 26px;
                    }
                }
            }

            span {
                display: block;
                @include font15b;
                text-align: center;

                @media (max-width: 1024px) {
                    font-size: 9px;
                    line-height: 20px;
                }
            }
        }
    }
}
