@import "../../../styles/typography/typography";

.auss-list {
    margin-bottom: 80px;

    @media (max-width: 1024px) {
        margin-bottom: 24px;
    }

    a {
        display: block;
        text-align: center;
        border-top: 1px solid var(--border-color);
        @include font36b;
        color: var(--bgcolor);
        padding: 10px 0;

        &:last-child {
            border-bottom: 1px solid var(--border-color);
        }

        @media (max-width: 576px) {
            font-size: 26px;
        }
    }
}
