@import "../../../styles/";

.auss-list {
    margin-bottom: 80px;

    a {
        display: block;
        text-align: center;
        border-top: 1px solid var(--border-color);
        @include font36b;
        color: var(--bgcolor);
        padding: 10px 0;

        &:last-child {
            border-bottom: 1px solid var(--border-color);
        }
    }
}
