@import "../../styles/";

.form-input {
    margin: 30px 0;

    @media (max-width: 1024px) {
        margin: 18px 0;
    }

    @media (max-width: 576px) {
        margin: 30px 0;
    }

    p {
        margin-bottom: 20px;

        @media (max-width: 1024px) {
            font-size: 9px;
            margin-bottom: 12px;
        }

        @media (max-width: 576px) {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 20px;
        }
    }

    h4 {
        margin-bottom: 20px;
        @include font22b;
        font-family: var(--font-family-inline);

        @media (max-width: 1024px) {
            font-size: 15px;
            line-height: 13px;
            margin-bottom: 12px;
        }

        @media (max-width: 576px) {
            font-size: 25px;
            line-height: 22px;
            margin-bottom: 20px;
        }
    }

    .form-input-box {
        margin-bottom: 10px;

        @media (max-width: 1024px) {
            margin-bottom: 6px;
        }

        @media (max-width: 576px) {
            margin-bottom: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        label {
            display: block;
            @include font16b;

            @media (max-width: 1024px) {
                font-size: 10px;
                line-height: 13px;
                margin-bottom: -5px;
            }

            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 22px;
                margin: 0;
            }
        }

        input {
            width: 100%;
            padding: 0 0 3px 0;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid var(--border-color);
            @include font16b;
            color: var(--bgcolor);

            @media (max-width: 1024px) {
                font-size: 10px;
                line-height: 13px;
            }

            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 22px;
            }

            &:focus {
                outline: none;
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .form-input-first {
            width: 100%;
        }
    }

    .flex {
        display: flex;
        gap: 5px;
    }

    .form-input-check {
        input {
            appearance: none;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid var(--color-white);
            outline: none;
            cursor: pointer;
            margin: 0;
            background-color: var(--font-color);

            @media (max-width: 1024px) {
                width: 6px;
                height: 6px;
            }

            @media (max-width: 576px) {
                width: 10px;
                height: 10px;
            }

            &:checked {
                background-color: var(--color-white);
            }
        }
        span {
            padding-left: 10px;
            @include font12b;

            @media (max-width: 1024px) {
                padding-left: 7px;
                font-size: 7px;
                line-height: 13px;
            }

            @media (max-width: 576px) {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
}
