@import "../../../styles/";

.contact {
    margin: 50px 0;

    @media (max-width: 1024px) {
        margin: 30px 0;
    }

    @media (max-width: 576px) {
        margin: 30px 0 90px 0;

        .container12 {
            padding: 0;
        }
    }

    .contact-div {
        @media (max-width: 576px) {
            overflow: hidden;
        }

        h2 {
            text-align: center;
            @include aussHeadLab;
            margin-bottom: 50px;

            @media (max-width: 1024px) {
                font-size: 56px;
                line-height: 50px;
                margin-bottom: 30px;
            }

            @media (max-width: 576px) {
                font-size: 98px;
                line-height: 85px;
            }
        }

        p {
            text-align: center;
            margin-bottom: 30px;
            @include aussPera;

            @media (max-width: 1024px) {
                @include aussPeraRes;
                margin-bottom: 15px;
            }

            @media (max-width: 576px) {
                @include aussPeraResMob;
            }
        }

        a {
            display: block;
            text-align: center;
            @include aussPera;
            color: var(--font-color);

            @media (max-width: 1024px) {
                @include aussPeraRes;
            }

            @media (max-width: 576px) {
                @include aussPeraResMob;
            }
        }
    }
}
