@import "../../../styles/";

.contact {
    margin: 50px 0;

    @media (max-width: 1024px) {
        margin: 30px 0;
    }

    .contact-div {
        h2 {
            text-align: center;
            @include aussHeadLab;
            margin-bottom: 50px;

            @media (max-width: 1024px) {
                font-size: 56px;
                line-height: 50px;
                margin-bottom: 30px;
            }
        }

        p {
            text-align: center;
            margin-bottom: 30px;
            @include aussPera;

            @media (max-width: 1024px) {
                @include aussPeraRes;
                margin-bottom: 15px;
            }
        }

        a {
            display: block;
            text-align: center;
            @include aussPera;
            color: var(--font-color);

            @media (max-width: 1024px) {
                @include aussPeraRes;
            }
        }
    }
}
