@import "../../../styles/";

.contact {
    margin: 50px 0;

    .contact-div {
        h2 {
            max-width: 969px;
            margin: 0 auto;
            text-align: center;
            @include aussHeadLab;
            margin-bottom: 50px;
        }

        p {
            text-align: center;
            margin-bottom: 30px;
            @include aussPera;
        }

        a {
            display: block;
            text-align: center;
            @include aussPera;
            color: var(--font-color);
        }
    }
}
