@import "../../../styles/";

.hero-banner {
    padding: 67px 0 69px 0;

    @media (max-width: 1024px) {
        padding: 69px 0 60px 0;
    }

    .hero-box {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 60px;

        h1 {
            @include heroHead;
            max-width: 426px;

            @media (max-width: 1024px) {
                font-size: 100px;
                line-height: 83px;
            }
        }

        p {
            @include heroPera;
            max-width: 304px;

            @media (max-width: 1024px) {
                font-size: 30px;
                line-height: 32px;
            }
        }

        img {
            max-width: 320px;
        }
    }
}
