@import "../../../styles/";

.hero-banner {
    padding: 67px 0 70px 0;

    @media (max-width: 1024px) {
        padding: 70px 0 60px 0;
    }

    @media (max-width: 576px) {
        padding: 32px 0 40px 0;

        .container {
            padding: 0;
        }
    }

    .hero-box {
        display: grid;
        grid-template-columns: 425px 290px auto;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 1024px) {
            grid-template-columns: 240px 160px auto;
            justify-content: space-around;
            gap: 10px;
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
            overflow: hidden;
        }

        h1 {
            @include heroHead;
            word-break: break-word;

            @media (max-width: 1024px) {
                font-size: 100px;
                line-height: 83px;
            }
            
            @media (max-width: 576px) {
                word-break: keep-all;
                grid-column: span 2;
                font-size: 174px;
                line-height: 145px;
                margin-bottom: 40px;
            }
        }

        p {
            @include heroPera;
            word-break: break-word;
            align-self: flex-end;

            @media (max-width: 1024px) {
                font-size: 30px;
                line-height: 32px;
            }

            @media (max-width: 576px) {
                margin-left: 20px;
                max-width: 140px;
                font-size: 25px;
                line-height: 26px;
            }
        }

        .hero-box-image {
            margin-top: 7px;
            max-width: 320px;
            max-height: 428px;

            @media (max-width: 1024px) {
                max-width: 185px;
            }

            @media (max-width: 576px) {
                max-width: 150px;
                max-height: 200px;
                margin: 0 20px 0 0;
            }

            img {
                height: 100%;
            }
        }
    }
}
