@import "../../../styles/";

.auktionw {
    margin-bottom: 45px;

    @media (max-width: 1024px) {
        margin-bottom: 80px;
    }

    .auktionw-div {
        h2 {
            @include font38b;
            text-align: center;
            font-family: var(--font-family-inline);

            @media (max-width: 1024px) {
                font-size: 25px;
                line-height: 50px;
                margin-bottom: 20px;
            }
        }
    }

    .auktionw-timer {
        @include flex-center;
        gap: 15px;
        position: relative;

        @media (max-width: 1024px) {
            gap: 9px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 100%;
            max-width: 610px;
            border: 1.5px solid var(--bgcolor);

            @media (max-width: 1024px) {
                max-width: 350px;
                border: 0.9px solid var(--bgcolor);
            }
        }

        .auktionw-timer-text {
            position: relative;
            z-index: 2;
            padding: 76px 46px;
            @include flex-center;
            background-color: var(--bgcolor);
            border-radius: 10px;

            @media (max-width: 1024px) {
                padding: 43px 26px;
            }

            h3 {
                position: absolute;
                @include font47b;
                color: var(--font-color);

                @media (max-width: 1024px) {
                    font-size: 27px;
                    line-height: 26px;
                }
            }
        }
    }

    .auction-timer-title {
        @include flex-center;
        gap: 15px;
        margin-top: 17px;

        @media (max-width: 1024px) {
            gap: 9px;
        }

        span {
            display: block;
            min-width: 93px;
            @include font15b;
            text-align: center;

            @media (max-width: 1024px) {
                min-width: 52px;
                font-size: 9px;
                line-height: 20px;
            }
        }
    }
}
