@import "../../../styles/";

.auktionw {
    margin-bottom: 45px;
    
    .auktionw-div {
        h2 {
            @include font38b;
            text-align: center;
            font-family: var(--font-family-inline);
        }
    }

    .auktionw-timer {
        @include flex-center;
        gap: 15.5px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 37%;
            width: 100%;
            max-width: 610px;
            border: 1.5px solid var(--bgcolor);
        }

        .auktionw-timer-div {
            position: relative;
            z-index: 2;
            
            .auktionw-timer-text {
                min-width: 93px;
                min-height: 152px;
                @include flex-center;
                background-color: var(--bgcolor);
                border-radius: 10.7px;
                margin-bottom: 17.02px;

                h3 {
                    @include font47b;
                    color: var(--font-color);
                }
            }

            span {
                display: block;
                @include font15b;
                text-align: center;
            }
        }
    }
}
