@import "../../styles/";

.datenschutz {
    margin: 67px 0 69px 0;

    .datenschutz-div {
        h2 {
            @include font76;
            margin-bottom: 30px;
        }

        .datenschutz-div-text {
            padding-bottom: 30px;

            h3,
            p {
                @include font20b;
                font-weight: 900;
                letter-spacing: -0.06em;
            }

            p {
                font-weight: 400;
            }
        }
    }
}
