@import "../../styles/";

.timer {
    &.dark {
        --timer-bg: var(--font-color);
        --timer-font: var(--bgcolor);
        --timer-line: var(--font-color);
        margin: 0;
    }

    &.light {
        --timer-bg: var(--bgcolor);
        --timer-font: var(--font-color);
        --timer-line: var(--bgcolor);
    }
}

.timer {
    margin-bottom: 45px;

    @media (max-width: 1024px) {
        margin-bottom: 80px;
    }

    @media (max-width: 576px) {
        margin-bottom: 60px;
        .container {
            padding: 0;
        }
    }

    .timer-header {
        h2 {
            @include font38b;
            text-align: center;
            font-family: var(--font-family-inline);

            @media (max-width: 1024px) {
                font-size: 25px;
                line-height: 50px;
                margin-bottom: 20px;
            }

            @media (max-width: 576px) {
                margin-bottom: 0;
                line-height: 55px;
            }
        }
    }

    .timer-countdown {
        @include flex-center;
        gap: 15px;
        position: relative;

        @media (max-width: 1024px) {
            gap: 9px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: calc(100% - 2px);
            max-width: 610px;
            border: 1.5px solid var(--timer-line);

            @media (max-width: 1024px) {
                max-width: 350px;
                border: 1px solid var(--timer-line);
            }

            @media (max-width: 576px) {
                max-width: 400px;
            }
        }

        .timer-text {
            position: relative;
            z-index: 2;
            padding: 76px 46px;
            @include flex-center;
            background-color: var(--timer-bg);
            border-radius: 10px;

            @media (max-width: 1024px) {
                padding: 43px 26px;
                border-radius: 7px;
            }

            @media (max-width: 576px) {
                padding: 50px 30px;
            }

            h3 {
                position: absolute;
                @include font47b;
                color: var(--timer-font);

                @media (max-width: 1024px) {
                    font-size: 27px;
                    line-height: 26px;
                }

                @media (max-width: 576px) {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }

    .timer-labels {
        @include flex-center;
        gap: 15px;
        margin-top: 17px;

        @media (max-width: 1024px) {
            gap: 9px;
        }

        @media (max-width: 576px) {
            margin-top: 11px;
        }

        span {
            display: block;
            min-width: 93px;
            @include font15b;
            text-align: center;

            @media (max-width: 1024px) {
                min-width: 52px;
                font-size: 9px;
                line-height: 20px;
            }

            @media (max-width: 576px) {
                min-width: 60px;
            }
        }
    }
}
