@import "../../../styles/";

.auss-banner2 {
    margin: 81px 0 60px 0;

    .auss-banner2-div {
        display: flex;
        gap: 43px;

        h2 {
            min-width: 393px;
            @include aussHeadm;
            line-height: 178px;
        }

        img {
            max-width: 300px;
        }

        .auss-banner2-div-intro {
            max-width: 393px;

            h2 {
                line-height: 160px;
                margin-bottom: 60px;
            }
            
            p {
                padding: 0 20px;
                @include font14b;
                line-height: 20px;
                text-align: center;
            }
        }
    }
}
