@import "../../../styles/";

.auss-banner2 {
    margin: 80px 0 60px 65px;

    .auss-banner2-div {
        display: grid;
        grid-template-columns: 360px auto 390px;
        justify-content: space-between;
        gap: 10px;

        h2 {
            @include aussHeadm;
            line-height: 178px;
            word-break: break-word;
        }

        .auss-banner2-image {
            max-width: 300px;
            max-height: 400px;
            
            img {
                width: 100%;
                height: 100%;
            }
        }

        .auss-banner2-div-intro {
            margin-bottom: 40px;

            h2 {
                line-height: 160px;
                margin-bottom: 60px;
            }

            p {
                padding: 0 20px;
                @include font14b;
                line-height: 20px;
                text-align: center;
            }
        }
    }
}
