@import "../../../styles/";

.book {
    margin: 100px 0;

    .the-book {
        .the-book-div {
            display: flex;
            gap: 30px;

            h3 {
                @include aussHead;
                text-align: right;
            }

            img {
                min-width: 354px;
                max-height: 587px;
            }

            .the-book-div-text {
                max-width: 484px;

                p {
                    margin-bottom: 30px;
                    @include aussPera;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        h2 {
            @include aussHead;
            text-align: center;
            line-height: 110px;
            margin: 100px 0 60px 0;
        }

        .the-image-book {
            margin: 0 80px;
            @include grid3c;
            gap: 50px;

            img {
                width: 100%;
            }
        }
    }
}
