.form-button {
    @include flex-center;

    button {
        padding: 13px 26px;
        border: 1px solid var(--bgcolor);
        border-radius: 35px;
        background-color: transparent;
        @include font16ub;
        color: var(--color-white);
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: var(--color-white);
            color: var(--font-color);
            transition: 0.3s ease-in-out;
        }
    }
}
