@import "../../styles/";

.journey {
    .journey-banner {
        padding: 100px 0 24px 0;
        position: relative;
        @include flex-center;

        .journey-head {
            position: absolute;
            top: 38px;
            z-index: 2;

            h1 {
                max-width: 617px;
                @include aussHeadJou;
                text-align: center;
                margin-left: 22px;
            }
        }

        .journey-banner-div {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 35px;

            .journey-banner-div-intro {
                max-width: 409px;
                padding: 135px 0 36px 0;

                h2 {
                    @include aussHeadm;
                    line-height: 71px;
                    margin-bottom: 78px;
                }

                p {
                    @include aussPera;
                }
            }

            .journey-banner-img {
                display: flex;
                align-items: flex-end;
                position: relative;
                
                .journey-banner-img1 {
                    position: absolute;
                    right: 227px;

                    img {
                        min-width: 324px;
                        max-height: 442px;
                    }
                }
                .journey-banner-img2 {
                    padding-bottom: 56px;

                    img {
                        max-width: 321px;
                    }
                }
            }
        }
    }
    .auss-banner {
        display: none;
    }
}
