@import "../../styles/";

.journey {
    .journey-banner {
        margin: 38px 0 24px 0;

        .journey-head {
            position: relative;
            z-index: 2;

            h1 {
                margin: 0 auto;
                max-width: 617px;
                @include aussHeadJou;
                text-align: center;
            }
        }

        .journey-banner-div {
            margin-top: -190px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 35px;

            .journey-banner-div-intro {
                max-width: 409px;
                padding: 135px 0 36px 0;

                h2 {
                    @include aussHeadm;
                    line-height: 71px;
                    margin-bottom: 78px;
                }

                p {
                    @include aussPera;
                }
            }

            .journey-banner-img {
                display: flex;
                align-items: flex-end;

                .journey-banner-img1 {
                    position: relative;
                    img {
                        width: 324px;
                        max-height: 442px;
                    }
                }
                .journey-banner-img2 {
                    margin: 0 0 55px -93px;

                    img {
                        width: 320px;
                    }
                }
            }
        }
    }
    .auss-banner {
        display: none;
    }
}
