@import "../../styles/";

.journey {
    .journey-banner {
        padding: 100px 0 25px 0;
        position: relative;
        @include flex-center;

        .journey-head {
            position: absolute;
            top: 38px;
            z-index: 2;

            h1 {
                max-width: 617px;
                @include aussHeadJou;
                text-align: center;
                margin-left: 20px;
            }
        }

        .journey-banner-div {
            width: 100%;
            display: grid;
            grid-template-columns: 410px 1fr;
            gap: 35px;

            .journey-banner-div-intro {
                padding: 135px 0 35px 0;

                h2 {
                    @include aussHeadm;
                    line-height: 71px;
                    margin-bottom: 78px;
                }

                p {
                    @include aussPera;

                    @media (max-width: 1024px) {
                        @include aussPeraRes;
                    }
                }
            }

            .journey-banner-img {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                img {
                    width: 100%;
                    height: 100%;
                    max-width: 552px;
                    max-height: 484px;
                }
            }
        }
    }
    
    .auss-banner {
        display: none;
    }
}
