@import "../../../styles/typography/typography";

.lebanon {
    margin-bottom: 50px;

    @media (max-width: 1024px) {
        margin-bottom: 30px;
    }

    @media (max-width: 576px) {
        .container4 {
            padding: 0;
        }
    }

    .lebanon-div {
        display: grid;
        grid-template-columns: 1fr 445px;
        gap: 30px;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr 255px;
            gap: 17px;
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        .lebanon-text {
            @media (max-width: 576px) {
                order: 2;
            }

            p {
                margin-bottom: 30px;
                @include aussPera;
                text-align: right;

                span {
                    display: block;
                }

                @media (max-width: 1024px) {
                    @include aussPeraRes;
                    margin-bottom: 15px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                @media (max-width: 576px) {
                    @include aussPeraResMob;
                    padding: 0 20px;
                    text-align: center;
                }
            }
        }

        .lebanon-head {
            margin-right: 8px;

            @media (max-width: 1024px) {
                margin-right: 5px;
            }

            @media (max-width: 576px) {
                order: 1;
                margin: 0;
            }

            h2 {
                @include aussHeadLab;
                text-align: center;
                margin-bottom: 30px;

                @media (max-width: 1024px) {
                    font-size: 60px;
                    line-height: 60px;
                    margin-bottom: 17px;
                }

                @media (max-width: 576px) {
                    font-size: 98px;
                    line-height: 85px;
                    margin-bottom: 30px;
                }
            }

            img {
                width: 100%;
                max-height: 210px;

                @media (max-width: 1024px) {
                    max-height: 120px;
                }

                @media (max-width: 576px) {
                    max-height: 210px;
                }
            }

            h3 {
                @include font14;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
                margin-top: 5px;

                @media (max-width: 1024px) {
                    font-size: 8px;
                    line-height: 12px;
                    margin-top: 3px;
                }

                @media (max-width: 576px) {
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 5px;
                }
            }
        }
    }
}
