@import "../../../styles/";

.lebanon {
    margin-bottom: 50px;
    
    .lebanon-div {
        display: grid;
        grid-template-columns: 1fr 445px;
        gap: 30px;

        .lebanon-text {
            p {
                margin-bottom: 30px;
                @include aussPera;
                text-align: right;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .lebanon-head {
            margin-right: 8px;

            h2 {
                @include aussHeadLab;
                text-align: center;
                margin-bottom: 30px;
                word-break: break-word;
            }

            img {
                width: 100%;
                max-height: 209px;
            }

            h3 {
                @include font14;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
                margin-top: 5px;
            }
        }
    }
}
