@import "../../styles/";

header {
    padding: 40px 0;

    @include breakpoint("lg-max") {
        padding: 23px 0;
    }

    .header-div {
        @include flex-between;

        svg {
            display: block;
            fill: var(--color-black);

            @include breakpoint("lg-max") {
                max-width: 187px;
                height: auto;
            }
        }

        .header-links {
            @include flex;
            gap: 38px;

            @include breakpoint("lg-max") {
                gap: 22px;
            }

            a {
                display: block;
                @include font20H;
                color: var(--color-black);
                font-family: var(--font-family-inline);

                @include breakpoint("lg-max") {
                    font-size: 11.58px;
                    line-height: 11px;
                }
            }
        }
    }
}

.special-header {
    .header-div {
        svg {
            fill: var(--color-white);
        }
        .header-links {
            a {
                color: var(--bgcolor);
            }
        }
    }
}
