@import "../../styles/";

header {
    padding: 40px 0;

    @media (max-width: 1024px) {
        padding: 23px 0;
    }

    @media (max-width: 576px) {
        padding: 82px 0 0 0;
    }

    .header-div {
        @include flex-between;

        @media (max-width: 576px) {
            justify-content: center;
        }

        .header-div-logo {
            svg {
                display: block;
                fill: var(--color-black);

                @media (max-width: 1024px) {
                    max-width: 187px;
                    height: auto;
                }

                @media (max-width: 576px) {
                    max-width: 176px;
                }
            }
        }

        nav {
            @include flex;
            gap: 38px;

            @media (max-width: 1024px) {
                gap: 22px;
            }

            a {
                display: block;
                @include font20H;
                color: var(--color-black);
                font-family: var(--font-family-inline);

                @media (max-width: 1024px) {
                    font-size: 12px;
                    line-height: 11px;
                }
            }

            @media (max-width: 576px) {
                display: none;
            }
        }

        .header-menu {
            display: none;
            position: absolute;
            top: 44px;
            right: 44px;

            svg {
                fill: var(--font-color);
                cursor: pointer;
            }

            @media (max-width: 576px) {
                display: block;
            }
        }
    }
}

.special-header {
    .header-div {
        .header-div-logo {
            svg {
                fill: var(--color-white);
            }
        }
        nav {
            a {
                color: var(--bgcolor);
            }
        }
        .header-menu {
            svg {
                fill: var(--bgcolor);
            }
        }
    }
}

.no-scroll {
    overflow: hidden;
}
