@import "../../../styles/";

.the-gallary {
    h2 {
        @include aussHeadGal;
        text-align: center;
        position: relative;
    }

    .gallary-image {
        margin-top: -92px;

        img {
            width: 100%;
            max-height: 563px;
            object-fit: cover;
        }
    }
}
