@import "../../../styles/";

.future {
    .the-future {
        text-align: center;

        h2 {
            @include aussHeadFut;

            &:last-child {
                line-height: 107px;
            }
        }

        img {
            width: 100%;
            max-height: 350px;
            object-fit: cover;
        }

        h3 {
            margin: 5px 0;
            @include aussPera;
        }
    }
}
