@import '../../../styles/';

.sponsoren {
    margin: 90px 0 80px 0;

    @media (max-width: 1024px) {
        margin: 40px 0 80px 0;
    }

    @media (max-width: 576px) {
        margin: 0 20px 140px 20px;
    }

    h2 {
        text-align: center;
        @include font39b;
        font-family: var(--font-family-inline);
        margin-bottom: 60px;

        @media (max-width: 1024px) {
            font-size: 25px;
            margin-bottom: 35px;
        }
    }

    .sponsoren-logo {
        display: flex;
        justify-content: center;
        gap: 30px;

        svg {
            cursor: pointer;
            fill: var(--color-white);

            @media (max-width: 1024px) {
                max-width: 57px;
                height: auto;

                &:nth-child(2) {
                    max-width: 134px;
                }

                &:last-child {
                    max-width: 103px;
                }
            }
        }
    }
}