@font-face {
    font-family: "Big Shoulders Inline Text";
    src: url("../../assets/fontFamily/BigShouldersInlineText/BigShouldersInlineText-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url("../../assets/fontFamily/BigShouldersDisplay/BigShouldersDisplay-VariableFont_wght.ttf") format("truetype");
}