@import "../../../styles/";

.artist-name {
    overflow: hidden;

    h3 {
        display: block;
        margin-left: 160px;
        @include font45b;
    }

    h2 {
        @include artistHead;
        font-family: var(--font-family-inline);
        margin: 22px 0 16px 0;
        white-space: nowrap;
    }

    p {
        @include font45b;
        white-space: nowrap;
        text-align: right;
        margin-bottom: 31px;
    }
}
