@import "../../../styles/";

.artist-name {
    overflow: hidden;
    padding-bottom: 110px;
    position: relative;

    @media (max-width: 576px) {
        padding-bottom: 50px;
    }

    h3 {
        display: block;
        margin-left: 160px;
        @include font45b;

        @media (max-width: 1024px) {
            font-size: 33px;
            line-height: 43px;
        }

        @media (max-width: 576px) {
            margin-left: 35px;
            font-size: 16px;
            line-height: 21px;
        }
    }

    h2 {
        @include artistHead;
        font-family: var(--font-family-inline);
        margin: 22px 0 16px 0;
        white-space: nowrap;

        @media (max-width: 1024px) {
            font-size: 150px;
            line-height: 114px;
            margin: 16px 0 20px 0;
        }

        @media (max-width: 576px) {
            margin: 8px 0;
            font-size: 73px;
            line-height: 55px;
        }
    }

    .artist-name-detail {
        position: absolute;
        left: 50%;

        p {
            @include font45b;
            white-space: nowrap;
            text-align: right;

            @media (max-width: 1024px) {
                font-size: 33px;
                line-height: 43px;
            }

            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 21px;
            }
        }
    }
}
