@import "../../styles/";

.impressum {
    margin: 67px 0 230px 0;

    h2 {
        @include font76;
    }

    p {
        @include font20b;
        font-weight: 300;
        letter-spacing: -0.06em;
        margin: 30px 0;
    }

    .impressum-link {
        margin-right: 5px;
        display: flex;
        justify-content: flex-end;
        gap: 60px;

        .impressum-link-div {
            h3,
            h4 {
                @include font20ub;
            }

            h4 {
                font-weight: 300;
            }
        }
    }
}
