@mixin font12b {
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
}

@mixin font14 {
    font-size: 14px;
    font-weight: 600;
}

@mixin font14b {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
}

@mixin font15b {
    font-size: 15px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.64px;
}

@mixin font16 {
    font-size: 16px;
    font-weight: 400;
}

@mixin font16b {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

@mixin font16ub {
    font-size: 16px;
    font-weight: 900;
    line-height: 21px;
    letter-spacing: -2.24px;
}

@mixin footerFont {
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
}

@mixin font20 {
    font-size: 20px;
    font-weight: 400;
}

@mixin font20H {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
}

@mixin font20b {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

@mixin aussPera {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

@mixin font20ub {
    font-size: 20px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: -0.96px;
}

@mixin font22b {
    font-size: 22px;
    font-weight: 900;
    line-height: 25px;
}

@mixin font32 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

@mixin font36b {
    font-size: 36px;
    font-weight: 900;
    line-height: 55px;
    letter-spacing: -0.64px;
}

@mixin font38b {
    font-size: 38px;
    font-weight: 900;
    line-height: 85px;
    letter-spacing: -0.64px;
}

@mixin font39b {
    font-size: 39px;
    font-weight: 900;
    line-height: 22px;
}

@mixin font45b {
    font-size: 45px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.64px;
}

@mixin font47b {
    font-size: 47px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: -0.64px;
}

@mixin heroPera {
    font-size: 54px;
    font-weight: 700;
    line-height: 56px;
}

@mixin font76 {
    font-size: 76px;
    font-weight: 900;
    line-height: 71px;
    letter-spacing: -0.96px;
}

@mixin aussHeadLab {
    font-size: 98px;
    font-weight: 900;
    line-height: 85px;
    letter-spacing: -0.96px;
}

@mixin aussHeadCol {
    font-size: 126px;
    font-weight: 900;
    line-height: 110px;
    letter-spacing: -0.96px;
}

@mixin aussHeadFut {
    font-size: 138px;
    font-weight: 900;
    line-height: 120px;
    letter-spacing: -0.96px;
}

@mixin aussHeadJou {
    font-size: 144px;
    font-weight: 900;
    line-height: 126.11px;
    letter-spacing: -0.96px;
}

@mixin donHead {
    font-size: 145px;
    font-weight: 900;
    line-height: 131px;
    letter-spacing: -0.96px;
}

@mixin aussHead {
    font-size: 148px;
    font-weight: 900;
    line-height: 129px;
    letter-spacing: -0.96px;
}

@mixin aussHeadGal {
    font-size: 157px;
    font-weight: 900;
    line-height: 137px;
    letter-spacing: -0.96px;
}

@mixin font160 {
    font-size: 160px;
    font-weight: 700;
    line-height: 1.2;
}

@mixin heroHead {
    font-size: 174px;
    font-weight: 900;
    line-height: 145px;
    letter-spacing: -0.96px;
}

@mixin aussHeadm {
    font-size: 200px;
    font-weight: 900;
    line-height: 185px;
    letter-spacing: -0.96px;
}

@mixin artistHead {
    font-size: 207px;
    font-weight: 900;
    line-height: 156px;
    letter-spacing: -0.64px;
}
