@import "../../../styles/";

.auss-banner {
    padding: 38px 0 121px 0;

    .auss-banner-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-end;
        gap: 35px;

        h1 {
            @include aussHeadm;
            min-width: 369px;
        }

        .auss-banner-div-intro {
            max-width: 409px;
            
            h1 {
                line-height: 71px;
                margin-bottom: 78px;
            }
            
            p {
                @include aussPera;
            }
        }

        img {
            max-width: 387px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
