@import "../../../styles/";

.auss-banner {
    padding: 38px 0 121px 0;

    .auss-banner-div {
        display: grid;
        grid-template-columns: 409px 370px auto;
        gap: 35px;

        h1 {     
            @include aussHeadm;
            word-break: break-word;
            align-self: flex-end;
        }

        .auss-banner-div-intro {
            padding-top: 137px;

            h1 {
                line-height: 71px;
                margin-bottom: 78px;
            }

            p {
                @include aussPera;
            }
        }

        .auss-banner-image {
            max-width: 387px;
            max-height: 525px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
