@import "../../../styles/";

.auss-banner {
    padding: 38px 0 120px 0;

    @media (max-width: 1024px) {
        padding: 18px 0 70px 0;

        .containerH {
            max-width: 755px;
        }
    }

    @media (max-width: 576px) {
        padding: 20px 0 50px 0;

        .containerH {
            padding: 0;
        }
    }

    .auss-banner-div {
        display: grid;
        grid-template-columns: 410px 355px 1fr;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 1024px) {
            grid-template-columns: 240px 205px 1fr;
            gap: 20px;
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            position: relative;
            gap: 0;
        }

        h1 {
            @include aussHeadm;
            word-break: break-word;

            @media (max-width: 1024px) {
                font-size: 115px;
                line-height: 107px;
            }

            @media (max-width: 576px) {
                order: 1;
                font-size: 200px;
                line-height: 71px;
                text-align: center;
                word-break: normal;
            }
        }

        .auss-banner-head {
            align-self: flex-end;

            @media (max-width: 576px) {
                overflow: hidden;
                padding: 50px 0;
            }
        }

        .auss-banner-div-intro {
            padding-top: 137px;

            @media (max-width: 1024px) {
                padding-top: 80px;
            }

            @media (max-width: 576px) {
                order: 3;
                padding-top: 95px;
                position: relative;
                overflow: hidden;
            }

            h1 {
                line-height: 71px;
                margin-bottom: 78px;

                @media (max-width: 1024px) {
                    line-height: 41px;
                    margin-bottom: 45px;
                }

                @media (max-width: 576px) {
                    line-height: 71px;
                    margin-bottom: 60px;
                }
            }

            p {
                @include aussPera;

                @media (max-width: 1024px) {
                    @include aussPeraRes;
                }

                @media (max-width: 576px) {
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    padding: 0 20px;
                }
            }
        }

        .auss-banner-image {
            max-width: 387px;
            max-height: 525px;

            @media (max-width: 1024px) {
                max-width: 225px;
                max-height: 305px;
            }

            @media (max-width: 576px) {
                order: 2;
                max-width: 162px;
                max-height: 222px;
                position: absolute;
                top: 105px;
                left: calc(50% - 75px);
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
