.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 20px;
}

.container2 {
    max-width: 1227px;
    margin: 0 auto;
    padding: 0 20px;
}

.container3 {
    max-width: 1345px;
    margin: 0 auto;
    padding: 0 20px;
}

.container4 {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;
}

.container5 {
    max-width: 1211px;
    margin: 0 auto;
    padding: 0 20px;
}

.container6 {
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 20px;
}

.container7 {
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 20px;
}

.container8 {
    max-width: 1012px;
    margin: 0 auto;
    padding: 0 20px;
}

.container9 {
    max-width: 1204px;
    margin: 0 auto;
    padding: 0 20px;
}

.container10 {
    max-width: 1147px;
    margin: 0 auto;
    padding: 0 20px;
}

.container11 {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
}

.container12 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.containerH {
    max-width: 1275px;
    margin: 0 auto;
    padding: 0 20px;
}