@import "../../styles";

footer {
    padding: 0 20px 30px 20px;

    @media (max-width: 1024px) {
        margin-top: auto;
    }

    .footer-links {
        @include flex-center;
        margin-bottom: 69px;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        @media (max-width: 576px) {
            justify-content: flex-start;
        }

        a {
            min-width: 96px;
            display: block;
            text-align: center;
            @include footerFont;
            color: var(--font-color);

            @media (max-width: 1024px) {
                min-width: 55px;
                font-size: 10px;
                line-height: 11px;
            }

            @media (max-width: 576px) {
                min-width: 96px;
                font-size: 16px;
                line-height: 18px;
                text-align: left;
            }
        }
    }

    .footer-logo {
        @include flex-center;

        svg {
            cursor: pointer;
            display: block;
            fill: var(--font-color);

            @media (max-width: 1024px) {
                max-width: 110px;
                height: auto;
            }
        }

        @media (max-width: 576px) {
            display: none;
        }
    }

    .footer-logo-respo {
        display: none;
        justify-content: flex-end;
        margin-right: 17px;

        a {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 7px;

            svg {
                fill: var(--font-color);
            }
        }

        @media (max-width: 576px) {
            display: flex;
        }
    }
}

.special-footer {
    .footer-links {
        a {
            color: var(--bgcolor);
        }
    }
    .footer-logo {
        svg {
            fill: var(--bgcolor);
        }
    }
    .footer-logo-respo {
        a {
            svg {
                fill: var(--bgcolor);
            }
        }
    }
}
