@import "../../../styles/";

.thank-you {
    .thank-you-div {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .thank-you-head {
            margin-right: 8px;

            h2 {
                @include aussHeadLab;
                margin-bottom: 30px;
            }

            img {
                max-width: 393px;
            }
        }

        .thank-you-text {
            max-width: 724px;

            p {
                margin-bottom: 30px;
                @include aussPera;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
