@import "../../../styles/";

.form {
    margin: 18px 0 45px 0;

    @media (max-width: 1024px) {
        margin: 27px 0 60px 0;
    }

    .form-main {
        display: grid;
        grid-template-columns: auto 351px;
        justify-content: center;
        align-items: center;
        gap: 60px;

        @media (max-width: 1024px) {
            grid-template-columns: auto 210px;
            gap: 35px;
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .form-main-img {
            min-height: 600px;
            height: 100%;
            display: flex;
            align-items: center;
            
            @media (max-width: 1024px) {
                min-height: 375px;
            }
            
            @media (max-width: 576px) {
                min-height: auto;
                justify-content: center;
            }

            img {
                max-height: 600px;

                @media (max-width: 1024px) {
                    max-height: 370px;
                }

                @media (max-width: 576px) {
                    max-height: 525px;
                }
            }
        }

        .form-div-head {
            @include flex;

            @media (max-width: 576px) {
                display: block;
                overflow: hidden;
            }

            h2 {
                @include donHead;
                max-width: 368px;

                @media (max-width: 768px) {
                    font-size: 100px;
                }

                @media (max-width: 576px) {
                    font-size: 145px;
                    max-width: 100%;
                    word-break: keep-all;
                }

                @media (max-width: 390px) {
                    font-size: 100px;
                    line-height: 85px;
                }
            }
        }

        .form-div {
            h3 {
                @include font36b;
                line-height: 54px;
                margin-bottom: 10px;
                word-break: break-word;

                @media (max-width: 1024px) {
                    font-size: 21px;
                    line-height: 32px;
                    margin-bottom: 6px;
                }

                @media (max-width: 576px) {
                    font-size: 36px;
                    line-height: 55px;
                    margin-bottom: 10px;
                }
            }

            p {
                @include font14b;

                @media (max-width: 1024px) {
                    font-size: 11px;
                    line-height: 13px;
                }

                @media (max-width: 576px) {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }
}
