@import "../../../styles/";

.form {
    margin: 18px 0 45px 0;

    @media (max-width: 1024px) {
        margin: 27px 0 60px 0;
    }

    .form-main {
        display: grid;
        grid-template-columns: auto 351px;
        justify-content: center;
        align-items: center;
        gap: 60px;

        @media (max-width: 1024px) {
            grid-template-columns: auto 210px;
            gap: 35px;
        }

        .form-main-img {
            img {
                height: 100%;
                max-height: 600px;

                @media (max-width: 1024px) {
                    max-height: 370px;
                }
            }
        }

        .form-div-head {
            @include flex;

            h2 {
                @include donHead;
                max-width: 368px;
                word-break: break-word; 
            }   
        }

        .form-div {
            h3 {
                @include font36b;
                margin-bottom: 10px;
                word-break: break-word;

                @media (max-width: 1024px) {
                    font-size: 21px;
                    line-height: 32px;
                    margin-bottom: 6px;
                }
            }

            p {
                @include font14b;

                @media (max-width: 1024px) {
                    font-size: 11px;
                    line-height: 13px;
                }
            }

            .form-input {
                margin: 30px 0;

                @media (max-width: 1024px) {
                    margin: 18px 0;
                }

                p {
                    margin-bottom: 20px;

                    @media (max-width: 1024px) {
                        font-size: 9px;
                        margin-bottom: 12px;
                    }
                }

                h4 {
                    margin-bottom: 20px;
                    @include font22b;
                    font-family: var(--font-family-inline);

                    @media (max-width: 1024px) {
                        font-size: 15px;
                        line-height: 13px;
                        margin-bottom: 12px;
                    }
                }

                .form-input-box {
                    margin-bottom: 10px;

                    @media (max-width: 1024px) {
                        margin-bottom: 6px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    label {
                        display: block;
                        @include font16b;

                        @media (max-width: 1024px) {
                            font-size: 10px;
                            line-height: 13px;
                            margin-bottom: -5px;
                        }
                    }

                    input {
                        width: 100%;
                        padding: 0 0 3px 0;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid var(--border-color);
                        @include font16b;
                        color: var(--bgcolor);

                        @media (max-width: 1024px) {
                            font-size: 10px;
                            line-height: 13px;
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    .form-input-first {
                        width: 100%;
                    }
                }

                .flex {
                    display: flex;
                    gap: 5px;
                }

                .form-input-check {
                    input {
                        appearance: none;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 1px solid var(--color-white);
                        outline: none;
                        cursor: pointer;
                        margin: 0;
                        background-color: var(--color-black);

                        @media (max-width: 1024px) {
                            width: 6px;
                            height: 6px;
                        }

                        &:checked {
                            background-color: var(--color-white);
                        }
                    }
                    span {
                        padding-left: 10px;
                        @include font12b;

                        @media (max-width: 1024px) {
                            padding-left: 7px;
                            font-size: 7px;
                            line-height: 13px;
                        }
                    }
                }
            }
        }
    }
}
