:root {
    --color-white: #fff;
    --color-black: #000;

    --font-color: #1b1b1b;
    --font-color-error: #ffeb3b;

    --bgcolor: #f6f1e5;

    --border-color: #000;

    --error-accent-color: #ff6f61;

    --font-family-display: "Big Shoulders Display", sans-serif;
    --font-family-inline: "Big Shoulders Inline Text", sans-serif;
}
