@import "../../../styles/";

.collabar-main {
    margin: 100px 0;
    
    .collabor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 150px;

        .collabor-div {
            h2 {
                @include aussHeadCol;
                text-align: center;
            }

            .collabor-div-img {
                margin: 30px 0;

                img {
                    width: 100%;
                    max-height: 105px;
                }

                span {
                    display: block;
                    text-align: center;
                    margin-top: 5px;
                    @include font14;
                    font-weight: 700;
                    line-height: 20px;
                }

                p {
                    margin: 5px 0 0 0;
                }
            }

            .second {
                img {
                    max-height: 126px;
                }
            }

            p {
                margin-bottom: 30px;
                @include aussPera;
                text-align: center;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
