@import "../../../styles/";

.hometown-june {
    margin: 100px 0;

    .hometown-june-div {
        display: flex;
        gap: 60px;
        padding: 0 12.5px;

        img {
            min-width: 476px;
            max-height: 648px;
            object-fit: cover;
        }

        .hometown-june-content {
            p {
                @include aussPera;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
